## Korelasi
 Range : -1 -- 1
 + (+): A & B Berarti Berkorelasi Positif ==> Jika nilai A naik, nilai B juga naik, jika nilai A turun, nilai B juga turun
 - (-): C & D Berarti berkorelasi Negatif ==> Berbanding terbalik ==> Jika nilai A naik, nilai B turun gitu juga sebaliknya
 
 Pearson ==> Parametrik ==> distribusi normal
 
 Spearman ==> Non Parametrik ==> Distribusi tidak normal
 
 
 ## Cara Pake
 df.corr('spearman')
 df.corr('pearson')

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('digimon.csv')

In [3]:
df.head()

,#,Digimon,Stage,Type,Attribute,Memory,Equip Slots,HP,SP,Atk,Def,Int,Spd
0,1,Kuramon,Baby,Free,Neutral,2,0,590,77,79,69,68,95
1,2,Pabumon,Baby,Free,Neutral,2,0,950,62,76,76,69,68
2,3,Punimon,Baby,Free,Neutral,2,0,870,50,97,87,50,75
3,4,Botamon,Baby,Free,Neutral,2,0,690,68,77,95,76,61
4,5,Poyomon,Baby,Free,Neutral,2,0,540,98,54,59,95,86

In [4]:
## Korelasi

In [7]:
df.corr(numeric_only=True)
## Menampilkan korelasi antar Kolom numerik
## Jika metode tidak disebutkan, maka menggunakan metode DEFAULT
## Metode Default ==> PEARSON

,#,Memory,Equip Slots,HP,SP,Atk,Def,Int,Spd
#,1.000000,0.825180,0.543364,0.545551,0.562892,0.521803,0.250239,0.508848,0.717900
Memory,0.825180,1.000000,0.505906,0.658870,0.631727,0.631999,0.236781,0.581734,0.797212
Equip Slots,0.543364,0.505906,1.000000,0.393107,0.397976,0.318914,0.231671,0.361557,0.445772
HP,0.545551,0.658870,0.393107,1.000000,0.110453,0.615918,0.062828,0.111591,0.356231
SP,0.562892,0.631727,0.397976,0.110453,1.000000,-0.104073,0.077508,0.884666,0.618066
Atk,0.521803,0.631999,0.318914,0.615918,-0.104073,1.000000,0.129504,-0.138584,0.524367
Def,0.250239,0.236781,0.231671,0.062828,0.077508,0.129504,1.000000,-0.038404,0.092386
Int,0.508848,0.581734,0.361557,0.111591,0.884666,-0.138584,-0.038404,1.000000,0.453733
Spd,0.717900,0.797212,0.445772,0.356231,0.618066,0.524367,0.092386,0.453733,1.000000

In [9]:
df[['HP', 'Atk', 'Def', 'Int']].corr('spearman') ## Mewnggunakan Korelasi Spearman

           HP       Atk       Def       Int
HP   1.000000  0.630767  0.590511  0.127056
Atk  0.630767  1.000000  0.495439 -0.091545
Def  0.590511  0.495439  1.000000  0.197144
Int  0.127056 -0.091545  0.197144  1.000000

In [10]:
### Normal Distribution

In [ ]:
Ho = Distribusi Normal
Ha = Distribusi Tidak Normal

In [ ]:
- Jika nilai p-value lebih dari 0.05 => Distribusi bisa diasumsikan Normal (Tidak cukup bukti untuk menolak H0)
- Jika nilai p-value kurang dari atau sama dengan 0.05 ==> Distribusi diasumsikan Tidak normal (Tolak H0)

## Method 1
- Kolmogorov Smirnov

In [12]:
## Cek distribusi HP dan Attack Digimon

In [13]:
from scipy.stats import kstest

In [15]:
st, pval = kstest(df['HP'], 'norm')
if pval > 0.05:
    print("Asumsi : Kita tidak memiliki cukup bukti untuk menolak H0, sehingga asumsi distribusi cenderung Normal")
else:
    print("Asumsi : Kita memiliki cukup bukti untuk menolak H0, sehingga asumsi distribusi cenderung Tidak Normal")

Asumsi : Kita memiliki cukup bukti untuk menolak H0, sehingga asumsi distribusi cenderung Tidak Normal

In [17]:
st, pval = kstest(df['Atk'], 'norm')
if pval > 0.05:
    print(f"Nilai pval {pval} maka Asumsi : Kita tidak memiliki cukup bukti untuk menolak H0, sehingga asumsi distribusi cenderung Normal")
else:
    print(f"Nilai pval {pval} maka Asumsi : Kita memiliki cukup bukti untuk menolak H0, sehingga asumsi distribusi cenderung Tidak Normal")

Nilai pval 0.0 maka Asumsi : Kita memiliki cukup bukti untuk menolak H0, sehingga asumsi distribusi cenderung Tidak Normal

In [ ]:
## Method 2
D agostino & Pearson test

In [18]:
## Cek distribusi SPeed

In [19]:
from scipy.stats import normaltest

In [21]:
st, pval = normaltest(df['Spd'])
if pval > 0.05:
    print(f"Nilai pval {pval} maka Asumsi : Kita tidak memiliki cukup bukti untuk menolak H0, sehingga asumsi distribusi cenderung Normal")
else:
    print(f"Nilai pval {pval} maka Asumsi : Kita memiliki cukup bukti untuk menolak H0, sehingga asumsi distribusi cenderung Tidak Normal")

Nilai pval 0.0027128261838692473 maka Asumsi : Kita memiliki cukup bukti untuk menolak H0, sehingga asumsi distribusi cenderung Tidak Normal

In [22]:
df_1 = pd.read_csv('data.csv', parse_dates = ['purchase_time'])
df_1.head()

,receipt_id,receipts_item_id,purchase_time,category,sub_category,format,unit_price,discount,quantity
0,9622257,32369294,2018-07-22 21:19:00,Rice,Rice,supermarket,128000.0,0,1
1,9446359,31885876,2018-07-15 16:17:00,Rice,Rice,minimarket,102750.0,0,1
2,9470290,31930241,2018-07-15 12:12:00,Rice,Rice,supermarket,64000.0,0,3
3,9643416,32418582,2018-07-24 08:27:00,Rice,Rice,minimarket,65000.0,0,1
4,9692093,32561236,2018-07-26 11:28:00,Rice,Rice,supermarket,124500.0,0,1

In [23]:
## Parametrics

In [24]:
## One Sample T-test

In [25]:
df_1['unit_price'].mean()

24830.776333731115

In [ ]:
- Asumsi Unit price terdistribusi Normal
Ho : rata-rata unit_price = 500000
Ha : rata-rata unit price < 500000

In [26]:
from scipy.stats import ttest_1samp

In [27]:
tval, pval = ttest_1samp(df_1['unit_price'], 500000)
if pval/2 < 0.05: ## Karena kita sudah memiliki asumsi arah dari Ha, maka gunakan One-side atau One Tail, sehingga pval dibagi 2
    print("Tolak Ho")
else:
    print("Terima Ho")

Tolak Ho

In [28]:
## Two Sample Independent T-Test

In [29]:
purchase_dt = df_1['purchase_time'].dt

In [31]:
df_1['Hari'] = purchase_dt.dayofweek

In [32]:
df_1['WeekEnd'] = df_1['Hari'].apply(lambda x: 'Yes' if x > 4 else 'No')

In [33]:
df_1.head()

,receipt_id,receipts_item_id,purchase_time,category,sub_category,format,unit_price,discount,quantity,Hari,WeekEnd
0,9622257,32369294,2018-07-22 21:19:00,Rice,Rice,supermarket,128000.0,0,1,6,Yes
1,9446359,31885876,2018-07-15 16:17:00,Rice,Rice,minimarket,102750.0,0,1,6,Yes
2,9470290,31930241,2018-07-15 12:12:00,Rice,Rice,supermarket,64000.0,0,3,6,Yes
3,9643416,32418582,2018-07-24 08:27:00,Rice,Rice,minimarket,65000.0,0,1,1,No
4,9692093,32561236,2018-07-26 11:28:00,Rice,Rice,supermarket,124500.0,0,1,3,No

In [35]:
df_1['total_payment'] = (df_1['unit_price'] * df_1['quantity']) - df_1['discount']

In [ ]:
Asumsi :
    - Total payment terdistribusi normal
    - Non Equal Variance ===> Variance antara WeekEnd dan WeekDay berbeda
Hipotesis :
    H0 : Rata-rata total payment WeekEnd = rata-rata total payment Weekday
    Ha : Rata-rata total payment WeekEnd != rata-rata total payment Weekday

In [36]:
from scipy.stats import ttest_ind

In [39]:
df_1[df_1['WeekEnd'] == 'No']['total_payment']

3         65000.0
4        124500.0
5         63500.0
7         62500.0
8         62500.0
           ...
71995     25000.0
71996     12500.0
71997     12500.0
71998     37500.0
71999     37500.0
Name: total_payment, Length: 47599, dtype: float64

In [41]:
tval, pval = ttest_ind(
    df_1[df_1['WeekEnd'] == 'No']['total_payment'],
    df_1[df_1['WeekEnd'] == 'Yes']['total_payment'],
    equal_var = False
)

if pval < 0.05:
    print('Tolak H0')
else:
    print("Terima H0")

Terima H0

In [42]:
## T Test Paired

In [ ]:
Hipotesis :
    H0 : Nilai toefl sebelum & setelah ikut pelatihan Sama ==> Rata-rata nilai TOEFL siswa sebelum pelatihan = Rata-rata nilai TOEFL siswa setelah pelatihan
    Ha : rata rata nilai siswa sebelum pelatihan tidak sama dengan setelah pelatihan

In [43]:
Before =[400, 420, 430, 300, 290, 250, 310, 315, 200, 210]
After = [600, 500, 510, 550, 610, 640, 620, 550, 560, 580]

In [45]:
df_paired = pd.DataFrame(
{
"Before" : Before,
"After" : After})

df_paired['selisih']= df_paired['After'] - df_paired['Before']

In [46]:
df_paired

   Before  After  selisih
0     400    600      200
1     420    500       80
2     430    510       80
3     300    550      250
4     290    610      320
5     250    640      390
6     310    620      310
7     315    550      235
8     200    560      360
9     210    580      370

In [47]:
tval, pval = ttest_1samp(df_paired['selisih'], 0)
if pval < 0.05:
    print('Tolak H0')
else:
    print("Terima H0")

Tolak H0

In [49]:
## One Way Anova ; F Test; Lebih dari 2 populasi

In [51]:
df_1['format'].unique()

array(['supermarket', 'minimarket', 'hypermarket'], dtype=object)

In [ ]:
Hipotesis:
    H0 : rata-rata total payment supermarket = rata-rata total payment minimarket = rata-rata total payment hypermarket
    Ha : Minimal ada 1 pasang yg rata-rata total payment tidak sama

In [52]:
from scipy.stats import f_oneway

In [53]:
fval, pval = f_oneway(
df_1[df_1['format'] == 'supermarket']['total_payment'],
    df_1[df_1['format'] == 'minimarket']['total_payment'],
    df_1[df_1['format'] == 'hypermarket']['total_payment']
)
if pval < 0.05:
    print('Tolak H0')
else:
    print("Terima H0")

Tolak H0