> Benjamin Nikholas

> Data Science / JCSDOL-014

> Modul 1 - Tugas 3

> 2 Mei 2024
---
---

#1

In [ ]:
def pattern(rows):
    for i in range(1, rows + 1):
        print((str(i) + ' ') * i)

pattern(5)

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

#2

In [ ]:
def pattern(rows):
    for i in range(1, rows + 1):
        row_string = ''
        for j in range(1, i + 1):
            row_string += str(j) + ' '
        print(row_string)

pattern(5)

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
def pattern(rows):
    for i in range(1, rows + 1):
        for j in range(1, i + 1):
          print(i, j)

pattern(5)

1 1
2 1
2 2
3 1
3 2
3 3
4 1
4 2
4 3
4 4
5 1
5 2
5 3
5 4
5 5

#3

In [ ]:
def pattern(rows):
    for i in range(1, rows + 1):
        row_string = ''
        for j in range(rows, rows - i, -1):
            row_string += str(j) + ' '
        print(row_string)

pattern(5)

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [ ]:
def pattern(rows):
    for i in range(1, rows + 1):
        for j in range(rows, rows - i, -1):
          print(i, j)

pattern(5)

1 5
2 5
2 4
3 5
3 4
3 3
4 5
4 4
4 3
4 2
5 5
5 4
5 3
5 2
5 1

#4

In [ ]:
def pattern(rows):
    for i in range(1, rows + 1):
        row_string = ''
        for j in range(1, rows - i + 2):
            row_string += str(i) + ' '
        print(row_string)

pattern(5)

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [ ]:
def pattern(rows):
    for i in range(1, rows + 1):
        for j in range(1, rows - i + 2):
          print(i, j)

pattern(5)

1 1
1 2
1 3
1 4
1 5
2 1
2 2
2 3
2 4
3 1
3 2
3 3
4 1
4 2
5 1

#5

In [ ]:
def pattern(rows):
    for i in range(rows, 0, -1):
        row_string = ''
        for j in range(1, i + 1):
            row_string += str(j) + ' '
        print(row_string.rstrip())

pattern(5)

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [ ]:
def pattern(rows):
    for i in range(rows, 0, -1):
        for j in range(1, i + 1):
          print(i, j)

pattern(5)

5 1
5 2
5 3
5 4
5 5
4 1
4 2
4 3
4 4
3 1
3 2
3 3
2 1
2 2
1 1

#6

In [ ]:
def pattern(rows):
    for i in range(rows, 0, -1):
        row_string = ''
        for j in range(rows, rows - i, -1):
            row_string += str(j) + ' '
        print(row_string)

pattern(5)

5 4 3 2 1
5 4 3 2
5 4 3
5 4
5

In [ ]:
def pattern(rows):
    for i in range(rows, 0, -1):
        for j in range(rows, rows - i, -1):
          print(i, j)

pattern(5)

5 5
5 4
5 3
5 2
5 1
4 5
4 4
4 3
4 2
3 5
3 4
3 3
2 5
2 4
1 5