> Benjamin Nikholas

> Data Science / JCSDOL-014

> Modul 2 - Tugas 24

> 13 Juni 2024
---
---

# Exercise

In [80]:
import numpy as np
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

In [81]:
df = pd.read_csv('all_cars.csv')
df

,Unnamed: 0,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize,Brand
0,0,A1,2017,12500,Manual,15735,Petrol,150,55.4,1.4,Audi
1,1,A6,2016,16500,Automatic,36203,Diesel,20,64.2,2.0,Audi
2,2,A1,2016,11000,Manual,29946,Petrol,30,55.4,1.4,Audi
3,3,A4,2017,16800,Automatic,25952,Diesel,145,67.3,2.0,Audi
4,4,A3,2019,17300,Manual,1998,Petrol,145,49.6,1.0,Audi
...,...,...,...,...,...,...,...,...,...,...,...
22261,22261,IQ,2011,5500,Automatic,30000,Petrol,20,58.9,1.0,Toyota
22262,22262,Urban Cruiser,2011,4985,Manual,36154,Petrol,125,50.4,1.3,Toyota
22263,22263,Urban Cruiser,2012,4995,Manual,46000,Diesel,125,57.6,1.4,Toyota
22264,22264,Urban Cruiser,2011,3995,Manual,60700,Petrol,125,50.4,1.3,Toyota
22265,22265,Urban Cruiser,2011,4495,Manual,45128,Petrol,125,50.4,1.3,Toyota

In [82]:
# Inisiasi nilai alpha

alpha = 0.05

### **No.1**

Apakah ada hubungan antara mpg dan price?

In [83]:
mpg_price = df.mpg.corr(df.price)

print(f'Korelasi antara mpg dan price: {mpg_price:.2f}')

Korelasi antara mpg dan price: -0.46

Kolom mpg dan price memiliki hubungan terbalik dengan tingkat korelasi cukup

### **No.2**

Apakah mobil Automatic dari Hyundai dan Toyota memiliki harga yang berbeda? Buktikan dengan
Uji Statistik?

In [86]:
from scipy.stats import ttest_ind

hyundai_prices = df[(df.Brand == 'Hyundai') & (df.transmission == 'Automatic')].price
toyota_prices = df[(df.Brand == 'Toyota') & (df.transmission == 'Automatic')].price

t_statistic, p_value = ttest_ind(hyundai_prices, toyota_prices, equal_var = False)

print(f'p-value = {p_value}\n')

if p_value < alpha:
    print('Bukti statistik cukup\nDapat disimpulkan bahwa harga mobil Automatic Hyundai dan Toyota berbeda')
else:
    print('Bukti statistik tidak cukup\nSehingga tidak dapat disimpulkan bahwa harga mobil Automatic Hyundai dan Toyota berbeda.')

p-value = 0.4545018924274271

Bukti statistik tidak cukup
Sehingga tidak dapat disimpulkan bahwa harga mobil Automatic Hyundai dan Toyota berbeda.

:

### **No.3**

Apakah rata-rata pajak (tax) semua brand mobil keluaran tahun 2020 sama? Buktikan dengan Uji Statistik!

In [73]:
from scipy.stats import f_oneway

df_2020 = df[df.year == 2020]

brands = df_2020['Brand'].unique()
data_by_brand = [df_2020[df_2020.Brand == brand].tax for brand in brands]

f_statistic, p_value = f_oneway(*data_by_brand)

print(f'p-value = {p_value}\n')

if p_value < alpha:
    print('Bukti statistik cukup\nDapat disimpulkan bahwa rata-rata pajak berbeda di antara setidaknya satu pasang brand mobil keluaran tahun 2020.')
else:
    print('Bukti statistik tidak cukup\nSehingga tidak dapat disimpulkan bahwa rata-rata pajak berbeda di antara setidaknya satu pasang brand mobil keluaran tahun 2020.')

p-value = 0.0713830007410631

Bukti statistik tidak cukup
Sehingga tidak dapat disimpulkan bahwa rata-rata pajak berbeda di antara setidaknya satu pasang brand mobil keluaran tahun 2020.

### **No.4**

Apakah rata-rata nilai price dari semua mobil Manual adalah 12500 pondsteling! Buktikan dengan Uji Statistik!

In [75]:
from scipy.stats import ttest_1samp

df_manual = df[df.transmission == 'Manual']
mean_price_manual = df_manual.price.mean()

t_statistic, p_value = ttest_1samp(df_manual.price, 12500)

print(f'p-value = {p_value}\n')

if p_value < alpha:
    print('Bukti statistik cukup\nDapat disimpulkan bahwa rata-rata harga mobil Manual tidak sama dengan 12500 poundsterling.')
else:
    print('Bukti statistik tidak cukup\nSehingga tidak dapat disimpulkan bahwa rata-rata harga mobil Manual tidak sama dengan 12500 poundsterling.')

p-value = 0.20578628955155356

Bukti statistik tidak cukup
Sehingga tidak dapat disimpulkan bahwa rata-rata harga mobil Manual tidak sama dengan 12500 poundsterling.

## **No.5**

- Buat sebuah dataframe berisi mobil Hyundai dan Toyota tahun 2019!
- Dari dataframe yang telah dibuat, lakukan uji hipotesis untuk membuktikan apakah brand mobil ada kaitannya dengan jenis transmisi!

In [74]:
from scipy.stats import chi2_contingency

df_ht_2019 = df[df.Brand.isin(['Hyundai', 'Toyota']) & (df.year == 2019)]

contingency_table = pd.crosstab(df_ht_2019.Brand, df_ht_2019.transmission)

chi2, p_val, dof, expected = chi2_contingency(contingency_table)

print(f'p-value = {p_value}\n')

if p_value < alpha:
    print('Bukti statistik cukup\nDapat disimpulkan bahwa adanya keterkaitan antara brand mobil dan jenis transmisi.')
else:
    print('Bukti statistik tidak cukup\nSehingga tidak dapat disimpulkan bahwa adanya keterkaitan antara brand mobil dan jenis transmisi.')

p-value = 0.0713830007410631

Bukti statistik tidak cukup
Sehingga tidak dapat disimpulkan bahwa adanya keterkaitan antara brand mobil dan jenis transmisi.

## **No.6**

- Apakah 50% dari seluruh mobil yang dijual menggunakan bahan bakar Petrol? Buktikan dengan uji statistik!

In [78]:
from scipy.stats import binom_test

n_petrol = df[df.fuelType == 'Petrol'].shape[0]

n_total = df.shape[0]

p_empirical = n_petrol / n_total

p_null = 0.5

p_val = binom_test(n_petrol, n_total, p_null)

print(f'p-value = {p_value}\n')

if p_value < alpha:
    print(f'Bukti statistik cukup\nDapat disimpulkan bahwa proporsi mobil yang menggunakan bahan bakar Petrol tidak sama dengan {p_null}.')
else:
    print(f'Bukti statistik tidak cukup\nSehingga tidak dapat disimpulkan bahwa proporsi mobil yang menggunakan bahan bakar Petrol tidak sama dengan {p_null}.')

p-value = 0.20578628955155356

Bukti statistik tidak cukup
Sehingga tidak dapat disimpulkan bahwa proporsi mobil yang menggunakan bahan bakar Petrol tidak sama dengan 0.5.

## **No.7**

- Apakah proporsi mobil berbahan bakar Diesel pada mobil bertranmisi Manual dan Automatic berbeda! (Apakah proporsi mobil berbahan bakar Diesel dari seluruh mobil bertranmisi Manual berbeda dari proporsi mobil berbahan bakar Diesel dari seluruh mobil bertranmisi Automatic?)

- Buktikan dengan uji statistik!

In [79]:
from scipy.stats import chi2_contingency

contingency_table = pd.crosstab(df['fuelType'], df['transmission'])

chi2, p_val, dof, expected = chi2_contingency(contingency_table)

print(f'p-value = {p_value}\n')

if p_value < alpha:
    print('Bukti statistik cukup\nDapat disimpulkan bahwa proporsi mobil berbahan bakar Diesel berbeda antara mobil dengan transmisi Manual dan Automatic.')
else:
    print('Bukti statistik tidak cukup\nSehingga tidak dapat disimpulkan bahwa proporsi mobil berbahan bakar Diesel berbeda antara mobil dengan transmisi Manual dan Automatic.')

p-value = 0.20578628955155356

Bukti statistik tidak cukup
Sehingga tidak dapat disimpulkan bahwa proporsi mobil berbahan bakar Diesel berbeda antara mobil dengan transmisi Manual dan Automatic.