> Benjamin Nikholas

> Data Science / JCSDOL-014

> Modul 2 - Tugas 24

> 13 Juni 2024
---
---

# Exercise

In [1]:
import numpy as np
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

In [4]:
df = pd.read_csv('all_cars.csv')
df

,Unnamed: 0,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize,Brand
0,0,A1,2017,12500,Manual,15735,Petrol,150,55.4,1.4,Audi
1,1,A6,2016,16500,Automatic,36203,Diesel,20,64.2,2.0,Audi
2,2,A1,2016,11000,Manual,29946,Petrol,30,55.4,1.4,Audi
3,3,A4,2017,16800,Automatic,25952,Diesel,145,67.3,2.0,Audi
4,4,A3,2019,17300,Manual,1998,Petrol,145,49.6,1.0,Audi
...,...,...,...,...,...,...,...,...,...,...,...
22261,22261,IQ,2011,5500,Automatic,30000,Petrol,20,58.9,1.0,Toyota
22262,22262,Urban Cruiser,2011,4985,Manual,36154,Petrol,125,50.4,1.3,Toyota
22263,22263,Urban Cruiser,2012,4995,Manual,46000,Diesel,125,57.6,1.4,Toyota
22264,22264,Urban Cruiser,2011,3995,Manual,60700,Petrol,125,50.4,1.3,Toyota
22265,22265,Urban Cruiser,2011,4495,Manual,45128,Petrol,125,50.4,1.3,Toyota

In [29]:
# T-Test Single Population

from scipy.stats import ttest_1samp

t_stat, p_val = ttest_1samp(df.price, 10)

print(f'p-value = {p_value}')
print(f't-stat = {t_statistic}')

p-value = 0.04886892952341559
t-stat = 1.9699559462851646

In [28]:
# T-Test Independent Double Population
# Non Equal Variance Assumption

from scipy.stats import ttest_ind

t_statistic, p_value = ttest_ind(
    df[df.Brand == 'Hyundai'].price,
    df[df.Brand == 'Toyota'].price,
    equal_var = False
)

print(f'p-value = {p_value}')
print(f't-stat = {t_statistic}')

p-value = 0.04886892952341559
t-stat = 1.9699559462851646

In [27]:
# T-Test Independent Double Population
# Equal Variance Assumption

from scipy.stats import ttest_ind

t_statistic, p_value = ttest_ind(
    df[df.Brand == 'Hyundai'].price,
    df[df.Brand == 'Toyota'].price,
    equal_var = True
)

print(f'p-value = {p_value}')
print(f't-stat = {t_statistic}')

p-value = 0.050980485545415656
t-stat = 1.9518463590657513

In [26]:
# T-Test Paired

from scipy.stats import ttest_1samp

t_statistic, p_val = ttest_1samp(df.price, 0)

print(f'p-value = {p_value}')
print(f't-stat = {t_statistic}')

p-value = 0.050980485545415656
t-stat = 247.18701236647175

In [32]:
# ANOVA F-Test
# One-way ANOVA called F one-way because the test follows the F-Distribution

from scipy.stats import f_oneway

brands = df['Brand'].unique()
data_by_brand = [df[df.Brand == brand].tax for brand in brands]

f_statistic, p_value = f_oneway(*data_by_brand)

print(f'p-value = {p_value}')
print(f't-stat = {t_statistic}')

p-value = 1.7226818345236603e-199
t-stat = 1.9699559462851646

: